# Binaries for programs and plugins
*.exe
*.exe~

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*
.ccls-cache

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/dist/
/android/core/.cxx/
/service/

# Symbols
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Helper
/services/helper/target/
#libmihomo
/libmihomo/

#jniLibs
/android/app/src/main/jniLibs/
/android/core/src/main/jniLibs/

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake

# Linux
/linux/flutter/ephemeral/
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake

# Signing keys (sensitive data)
/android/app/keystore.jks
*.jks

# Environment variables (contains sensitive data)
.env
*.local.sh